*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body{
    background-color: #a2a8d3;
}

header{
    background-color: #1A1A2A;
}

ul{
    width: 100%;
    height: 60px;
    list-style: none;
}

li {
    float: left;
}

li a{
    text-decoration: none;
    color: white;
}

.inicio{
    padding: 20px;
    padding-left: 80px;
    padding-top: 25px;
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.nav{
    float: right;
    padding: 20px;
    padding-right: 40px;
}

.login{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding: 10px;
    background-color: black;
    border: 3px solid black;
    border-radius: 24px;
    font-size: 1.4rem;
    font-weight: bold;
}

/*banner*/
.banner{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 24px;
    padding: 20px;
    margin: 20px;
    align-items:center;
}

.banner img{
    width: 100%;
    height: 350px;
   border-radius: 40px;
}

/*menu*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #121a53;
    list-style: none;
    padding: 40px;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #05131f;
    padding-bottom: 60px;
}
.menu li a{
    text-decoration: none;
    list-style-type: none;
}


/* css main */
h2{
    color: #132743;
    text-align:  center;
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    padding-top: 50px;
}


.livros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    
}
.livros img{
    width: 250px;
    height: 100%;
    border-radius: 24px;
}



.livro1, .livro2, .livro3 {
border: 3px #385170 solid;
border-radius: 24px;
padding: 20px;
width: 300px;
height: 80%;
}

.conteudo{
    font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.produto1:hover{
    transform: scale(1.1);
    transition: 0.5;
    cursor: pointer;
} 

.comprar{
    width: 110px;
    height: 13%;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9cd3d3;
    border-radius: 10px;  
    border: 2px solid black;
    font-weight: bold;  
}

.comprar:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}


/* css footer*/

footer{
    background-color: #132743;
    height: 160px;
    color: wheat;
    
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.icones img{
    width: 3%;
    height: 2%;
    margin: 1.7rem 0.5rem;
}

.texto_footer{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    margin:-35px;
}

.info, .marke, .suporte{
    padding: 5px;
    font-weight: bold;
}

.politicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
   padding: 2px;
    font-weight: bold;
}



